.DS_Store
.idea/
project/*
eight_part/docs/.obsidian/
.vscode/
./cv/CV_zh-CN/
./cv/cv_zh-CN_v2/

# latex
/*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.synctex.gz
*.out
*.toc
*.log
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.synctex.gz
*.out
*.toc
*.log
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.synctex.gz
*.out